@media only screen and (min-device-width: 560px) and (max-device-width: 1136px) {
    #board {
        position: absolute;
        top: 0;
        left: 0;
        z-index:9999;
        image-rendering: crisp-edges;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
        background-color: transparent;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    #board {
        position: absolute;
        top: 120px;
        left: 50%;
        margin-left:-300px;
        z-index:9999;
        image-rendering: crisp-edges;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
        background-color: transparent;
    }
    .text {
        position: absolute;
        background: transparent url(text.png) no-repeat;
        width: 500px;
        height: 400px;
        top:20px;
        left:50%;
        margin-left:-250px;
    }

    .reindeer {
        position: absolute;
        background: transparent url(reindeer-jump.gif) no-repeat;
        width: 416px;
        height: 382px;
        -webkit-transform: scale(0.3);
    }
    .shadow {
        position: absolute;
        background: transparent url(shadow.png) 50% 50% no-repeat;
        width: 1400px;
        height: 70px;
        -webkit-transform: scale(0.4);
        top:750px;
        left:50%;
        margin-left:-700px;
    }
    .santa {
        position:absolute;
        background: transparent url(drunk-claus.gif) no-repeat;
        width:354px;
        height:363px;
        top: 450px;
        left: 20px;
        z-index:1
    }
    .santa.happy {
        background-image: url(happy-santa.gif);
    }
    .r1 {
        top: 300px;
        right: 0px;
    }
    .r2 {
        top: 300px;
        right: 150px;
    }
    .r3 {
        top: 300px;
        right: 300px;
    }

}

html, body {margin:0; padding:0}
body {
    background: #fff url(background.gif) 50% -300px repeat-x;
}
